# SPDX-FileCopyrightText: 2024 Stichting Health-RI
#
# SPDX-License-Identifier: Apache-2.0

python-dateutil==2.9.0.post0
pytz==2025.1
opentelemetry-api==1.31.1
opentelemetry-sdk==1.31.1
opentelemetry-instrumentation==0.52b1
opentelemetry-instrumentation-flask==0.52b1
opentelemetry-exporter-otlp-proto-http==1.31.1
ckantoolkit==0.0.7
boto3==1.37.17
botocore==1.37.18
